* {
  margin: 0;
  width: 0;
  box-sizing: border-box;
}

body {
  font-style: normal;
  font-family: sans-serif;
  width: 100vw;
  height: 300vh;
  display: flex;
  justify-content: center;
  background-color: black;
  position: relative;
}

html {
  font-size: 62.5%;
}

.image-container {
  width: 80%;
  height: 80vh;
  background-image: url("./images/ezgif-frame-001.png");
  position: fixed;
  top: 10rem;
  left: 16rem;

  /* overflow: hidden; */
}

p {
  width: 100%;
  font-size: 4.8rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0);
  position: absolute;
  right: 14rem;
  top: 4rem;

  text-align: end;
  padding: 2rem;
  /* text-transform: uppercase; */
  /* opacity: 10; */
  /* text-align: center; */
}
